body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fdf6f0;
    color: #333;
    padding: 20px;
}

/*header*/
header {
    text-align: center;
    background: #800000;
    color: gold;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

header p {
    font-size: 1.2em;

}

/*section styling*/
section {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

section h2 {
    margin-bottom: 10px;
    color: #800000;
}

/*Search Section*/
#searchSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#searchBar {
    padding: 8px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchButton {
    padding: 8px 15px;
    background: gold;
    color: #800000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background: #d4af37;
}

/*results section*/








